  <h1>Help</h1>
  <p>
    Get help on Birch App at the
    <a href="http://birch.co">Birchy App help page</a>.
    To get help on this Birchy app, see the
    <a href="http://birch.co">Birchy Awesomeness book</a>.
  </p>